<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/myapp.css">
        <meta charset="utf-8">
        <script src="/static/jquery.min.js"></script>
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
        <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
      	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
        <title> MVP </title>
    </head>

    <script>
    $( document ).ready(function() {
        var p = {{ path_bool| safe}}

        document.getElementById("id_docfile2").onchange = function() {
            // Show first 3 files to be uploaded
            files_string("id_docfile2", "touristic");
        };
        document.getElementById("id_docfile3").onchange = function() {
            // Show first 3 files to be uploaded
            files_string("id_docfile3", "electric");
        };
        // Get the drag-drop zone element
        var dropZone = document.getElementById('dropZone');
        // Optional.   Show the copy icon when dragging over.  Seems to only work for chrome.
        dropZone.addEventListener('dragover', function(e) {
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';
        });
        // Upload multiple files on data drop
        dropZone.addEventListener('drop', function(e) {
            e.stopPropagation();
            e.preventDefault();
            var files = e.dataTransfer.files; // Array of all files
            // send files to django as a form via ajax
            console.log(e)
            console.log(e.dataTransfer)
            console.log(e.dataTransfer.files)
            send_files($, files);
        });
    });
    </script>

    <body>
        <div id="myProgress">
              <div id="myBar"></div>
            </div>
        <!-- container just centers things -->
        <div class="container">
            <div class="row"><p></p><p></p></div>
            <div class="row">
                <div class="col-sm-3">
                    <p></p>
                </div>
                <div class="col-sm-6">
                    <!-- This is the drag and drop zone + image -->
                    <img id="dropZone" src="/static/images/tree.jpg">
                    <!-- Form to upload files via browsing -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                  <div>
                   <label  class="btn btn-primary btn-file" for="id_docfile2"> Add Touristic Activity</label>
                   <input type="file" id="id_docfile2" name="file" multiple>
                 </div>
                 <span id="touristic"></span>
                </div>

                <p id="test">
                    <!-- Prettyfy browse button with bootstrap -->
                    <div>
                     <label  class="btn btn-primary btn-file" for="id_docfile" style="display: none;"> Browse</label>
                     <input type="file" id="id_docfile" name="file" multiple>
                   </div>
                    <!-- <label class="btn btn-primary btn-file" id="filer">
                    Browse
                    </label> -->
                    <span id="texto" style="display: none;">No file chosen</span>
                </p>
            </div>
            <div class="row">
                <div class="col-sm-5">
                  <div>
                   <label  class="btn btn-primary btn-file" for="id_docfile3"> Add Electric Supply</label>
                   <input type="file" id="id_docfile3" name="file" multiple>
                 </div>
                 <span id="electric"></span>
                </div>
                <p><input onclick="up($);" class="btn btn-primary" type="button" value="Upload" /></p>
            </div>


        </div>

        <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
        <div id="map"></div>
        <script src="{{url_for('static', filename='mapcon.js')}}"></script>
    </body>

</html>
