input {
    display: none;
}
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 0%;
    height: 30px;
    background-color: green;
    display: none;
}
#map {
    height: 500px;
     width: 100%;
 }
 #dropZone{
   height: 300px;
   width: 300px%;
 }
